# 统一登录
gdgm:
  user: xxxx
  password: xxxx

# 一卡通
card:
  user: xxxx
  password: xxxx
  # 白云、荔湾校区 CHANGGONGGONGMAO 天河校区 MINGHANNORMAL
  impl: xxxx
  # POST https://carduser.gdgm.cn/powerfee/getRoomInfo?from=&token={token}&implType={impl}
  no: xxxx
  room: xxxx

push_url: https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key={key!!!}